html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

.clear {
    display: block;
    clear: both;
}